# Общая конфигурация
# Сайт приложения (не влияет на локальный запуск)
SERVER_HOSTNAME=https://delaba.ru
# Используемая фронтендом версия API Delaba
API_VERSION=1
# Почта администратора
# (используется как логин для администратора)
ADMIN_MAIL=admin@delaba.ru
# Приватные JWT-ключи
# Требуются для обеспечения авторизации и безопасности
# Генерируются отдельно (подходят любые JWT-совместимые)
JWT_REFRESH_SECRET="<Сгенерированный JWT-ключ>"
JWT_ACCESS_SECRET="<Второй JWT-ключ>"

# Реляционная база данных
# В ней хранятся основные данные приложения
# Подходят только PostgreSQL-совместимые базы данных
POSTGRES_DB=delaba
POSTGRES_USER=admin
POSTGRES_PASSWORD=delaba-admin
POSTGRES_ADDRESS=relational-db
POSTGRES_PORT=5432
# Для разработки:
# Выводить ли данные для отладки SQLAlchemy
SQLALCHEMY_ECHO=false

# Почтовый сервер
# Используется для рассылки данных для первого входа
# (авторизация не поддерживается)
DELABA_MAIL=mail@delaba.ru
SMTP_HOSTNAME=mail-server
SMTP_PORT=1025

# Объектное хранилище
# В нём хранятся загруженные пользователями документы
# Подходит любое S3-совместимое хранилище
MINIO_HOSTNAME=object-storage
MINIO_PORT=9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=delaba-admin
MINIO_DEFAULT_BUCKET=delaba

# Внешнее API
# Используется для поддержки пользовательским ИИ-запросов
# Подойдут данные любого OpenAI API совместимого окружения
OPENAI_ENDPOINT=https://openrouter.ai/api/v1
OPENAI_MODEL_TAG=openai/gpt-oss-120b:free
OPENAI_API_KEY="<Ваш ключ здесь>"
