services:
  frontend:
    build: ./frontend
    ports: 
    - "5173:80"

  backend:
    build: ./backend
    ports:
     - "8000:8000"
    env_file:
      - .env
    environment:
      - POSTGRES_ADDRESS=delaba-db
      - SQLALCHEMY_ECHO=false
    depends_on:
      db:
        condition: service_healthy
        restart: true

  db:
    image: postgres:17
    container_name: delaba-db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"]
      interval: 2s
      retries: 5
      start_period: 5s
      timeout: 3s
  
volumes:
  postgres_data:
